/* #vecpopupnewsletter .modal-dialog{
	padding: 0;
	background-position: left top;
	background-repeat: no-repeat;
}

#vecpopupnewsletter.popup-text-color-dark .modal-dialog {
	background-color: #ffffff;
}

#vecpopupnewsletter.popup-text-color-light .modal-dialog {
	color: #ffffff;
	background-color: #010101;
}

#vecpopupnewsletter.popup-text-color-light .popup_title, #vecpopupnewsletter label, #vecpopupnewsletter.popup-text-color-light.popup-type-1 .popup_icon {
	color: inherit;
}

#vecpopupnewsletter label {
	font-size: 1.3rem;
}

#vecpopupnewsletter .form-content input {
    background-color: transparent;
}

#vecpopupnewsletter button.close {
	right: -44px;
	top: -44px;
	color: #fff;
}

#vecpopupnewsletter button.close:hover {
	opacity: 0.5;
}

@media (max-width: 767px) {
	#vecpopupnewsletter button.close {
		right: -12px;
	}
	#vecpopupnewsletter .modal-dialog {
		margin-top: 44px
	}
}

#vecpopupnewsletter .block_newsletter_alert {
	margin-bottom: 20px;
}

#vecpopupnewsletter.popup-text-color-light .form-content input {
    color: #fff;
    border: 1px solid rgba(255,255,255,0.2);
}

/**************************type 1******************************

#vecpopupnewsletter.popup-type-1 .modal-dialog {
	max-width: 510px;
}

#vecpopupnewsletter.popup-type-1 .wrapper-popup {
    padding: 30px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 340px;
}

#vecpopupnewsletter.popup-type-1 .popup-content {
    max-width: 400px;
}

#vecpopupnewsletter.popup-type-1 .popup_icon {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1;
	color: var(--color-title);
}

#vecpopupnewsletter.popup-type-1 .popup_title p{
	font-size: 1.8rem;
	line-height: 2.4rem;
	font-weight: 500;
}

#vecpopupnewsletter.popup-type-1 .custom-checkbox {
    margin-top: 10px;
}

#vecpopupnewsletter.popup-type-1 .form-content{
	margin-bottom: 10px;
}

#vecpopupnewsletter.popup-type-1 .form-content .form-control{
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

#vecpopupnewsletter.popup-type-1 .form-content .btn{
	margin-bottom: 10px;
}

@media (min-width: 1025px) {
	#vecpopupnewsletter.popup-type-1 .form-content{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	#vecpopupnewsletter.popup-type-1 .form-content .form-control{
		margin-right: 10px;
		text-align: left;
	}
}

/**************************type 2******************************

#vecpopupnewsletter.popup-type-2 .wrapper-popup {
    display: flex;
    align-items: center;
    padding: 50px 15px;
    text-align: center;
    justify-content: center;
	min-height: 437px;
}

#vecpopupnewsletter.popup-type-2 .popup-content {
	max-width: 430px;
	margin-bottom: -20px;
}

#vecpopupnewsletter.popup-type-2 .form-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -3px;
    margin-left: -3px;
}

#vecpopupnewsletter.popup-type-2 .popup_title {
    font-size: 3.4rem;
    margin-bottom: 15px;
}

#vecpopupnewsletter.popup-type-2 .popup_title p:last-child {
	margin-bottom: 0;
}

#vecpopupnewsletter.popup-type-2 .popup_text {
    font-size: 1.4rem;
    margin-bottom: 30px;
}

#vecpopupnewsletter.popup-type-2 .popup_text p:last-child {
	margin-bottom: 0;
}

#vecpopupnewsletter.popup-type-2 .form-content input {
    flex: 1 1 200px;
    max-width: 290px;
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.2);
    margin: 0 3px 20px 3px;
    font-size: 1.3rem;
    box-shadow: none;
}

#vecpopupnewsletter.popup-type-2 .form-content button {
    margin: 0 3px 20px 3px;
    min-width: 145px;
}

#vecpopupnewsletter.popup-type-2 .newsletter_block_popup-bottom {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

#vecpopupnewsletter.popup-type-2 .custom-checkbox input + span {
    width: 14px;
    height: 14px;
    border-radius: 0;
}

#vecpopupnewsletter.popup-type-2 .custom-checkbox input + span .checkbox-checked {
	font-size: 12px;
}

#vecpopupnewsletter.popup-type-2 .modal-dialog{
	background-position: center center;
	max-width: 770px;
}

/**************************type 3******************************

#vecpopupnewsletter.popup-type-3 .wrapper-popup {
    display: flex;
    align-items: center;
    padding: 30px 15px 65px 15px;
    text-align: center;
    justify-content: center;
    min-height: 350px;
}

#vecpopupnewsletter.popup-type-3 .popup-content {
	max-width: 400px;
	margin-bottom: -20px;
}

#vecpopupnewsletter.popup-type-3 .form-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
}

#vecpopupnewsletter.popup-type-3 .popup_title {
    font-size: 3rem;
    margin-bottom: 15px;
}

#vecpopupnewsletter.popup-type-3 .popup_title p:last-child {
	margin-bottom: 0;
}

#vecpopupnewsletter.popup-type-3 .popup_text {
    font-size: 1.4rem;
    margin-bottom: 30px;
}

#vecpopupnewsletter.popup-type-3 .popup_text p:last-child {
	margin-bottom: 0;
}

#vecpopupnewsletter.popup-type-3 .form-content input {
    flex: 1 1 100%;
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    margin: 0 0 20px 0;
    font-size: 1.3rem;
    box-shadow: none;
	text-align: center;
}

#vecpopupnewsletter.popup-type-3 .form-content button {
    margin: 0 0 20px 0;
    min-width: 100%;
}

#vecpopupnewsletter.popup-type-3 .newsletter_block_popup-bottom {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

#vecpopupnewsletter.popup-type-3 .custom-checkbox input + span {
    width: 14px;
    height: 14px;
    border-radius: 0;
}

#vecpopupnewsletter.popup-type-3 .custom-checkbox input + span .checkbox-checked {
	font-size: 12px;
}

#vecpopupnewsletter.popup-type-3 .psgdpr_consent_message {
	margin-bottom: 20px;
}

#vecpopupnewsletter.popup-type-3 .modal-dialog{
	background-position: center top;
	max-width: 520px;
}

/**************************type 4******************************

#vecpopupnewsletter.popup-type-4 .wrapper-popup {
    display: flex;
    align-items: center;
    padding: 30px;
    text-align: center;
    justify-content: center;
}

#vecpopupnewsletter.popup-type-4 .popup-content {
	max-width: 350px;
}

#vecpopupnewsletter.popup-type-4 .form-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
}

#vecpopupnewsletter.popup-type-4 .popup_title {
    font-size: 3rem;
    margin-bottom: 15px;
}

#vecpopupnewsletter.popup-type-4 .popup_title p:last-child {
	margin-bottom: 0;
}

#vecpopupnewsletter.popup-type-4 .popup_text {
    font-size: 1.4rem;
    margin-bottom: 30px;
}

#vecpopupnewsletter.popup-type-4 .popup_text p:last-child {
	margin-bottom: 0;
}

#vecpopupnewsletter.popup-type-4 .form-content input {
    flex: 1 1 100%;
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    margin: 0 0 20px 0;
    font-size: 1.3rem;
    box-shadow: none;
	text-align: center;
}

#vecpopupnewsletter.popup-type-4 .form-content button {
    margin: 0 0 20px 0;
    min-width: 100%;
}

#vecpopupnewsletter.popup-type-4 .newsletter_block_popup-bottom {

}

#vecpopupnewsletter.popup-type-4 .custom-checkbox input + span {
    width: 14px;
    height: 14px;
    border-radius: 0;
}

#vecpopupnewsletter.popup-type-4 .custom-checkbox input + span .checkbox-checked {
	font-size: 12px;
}

#vecpopupnewsletter.popup-type-4 .psgdpr_consent_message {
	margin-bottom: 10px;
}

#vecpopupnewsletter.popup-type-4 .modal-dialog {
	max-width: 770px;
}

#vecpopupnewsletter.popup-type-4 .modal-dialog .modal-content {
    display: flex;
	justify-content: center;
	align-items: center;
}

#vecpopupnewsletter.popup-type-4 .modal-dialog .modal-content > img {
	max-width: 50%;
}

@media (max-width: 576px) {
	#vecpopupnewsletter.popup-type-4 .modal-dialog .modal-content {
		flex-wrap: wrap;
	}
	#vecpopupnewsletter.popup-type-4 .modal-dialog .modal-content > img {
		display: none;
	}
	#vecpopupnewsletter.popup-type-4 .modal-dialog {
		max-width: 510px;
	}
} */