.quickview {
  .modal-dialog {
    width: calc(100% - 30px);
    max-width: 64rem;
  }

  .modal-content {
    min-height: 28.13rem;
  }

  .modal-header {
    padding: $small-space;
    border: none;
    .close {
      margin-top: 0;
    }
  }

  .modal-body {
    min-height: 23.75rem;
    padding: 1.25rem;
  }

  .modal-footer {
    border-top: 1px solid $border-gray;
    padding: 1.25rem;
  }

  .layer {
    display: none;
  }

  .product-images-cover{
    margin-bottom: .625rem;
    .cover-item {
      padding: 0;
    }
  }

  .images-container {
    z-index: 1;
    .icon-zoom {
      display: none;
    }
    
  }
  #product_comments_block_extra {
    .reviews {
      display: none;
    }
  }
  .social-sharing {
    margin-top: 0;
  }
}
