.wishlist-table-wrapper p {
	margin: 0;
}

.wishlist-table-wrapper .shop_table .product-remove {
    padding: 0;
    text-align: center;
}

.wishlist-table-wrapper .shop_table .product-remove a {
	font-size: 20px;
	width: 30px;
	height: 30px;
	position: relative;
	display: block;
}
.wishlist-table-wrapper .shop_table .product-image img{
	padding: 10px;
}