/* stylelint-disable */
@import "~bourbon/app/assets/stylesheets/bourbon";
@import "partials/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/alert";
@import "components/drop-down";
@import "components/search-widget";
@import "components/mainmenu";
@import "components/checkout";
@import "components/customer";
@import "components/forgotten-password";
@import "components/renew-password";
@import "components/imageslider";
@import "components/featuredproducts";
@import "components/custom-text";
@import "components/categories";
@import "components/subcategories";
@import "components/products";
@import "components/cart";
@import "components/block-reassurance";
@import "components/quickview";
@import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/sitemap";
@import "components/newsletter";
@import "components/brands";
@import "components/header";
@import "components/wrapper";
@import "components/main";
@import "components/notifications";
@import "partials/vecthemes-icon";
/* stylelint-enable */
.testtest{
	background-color: red;
}
button.continue,
.ps-shown-by-js button {
	width: 100%;
}
#js-checkout-summary {
	background: transparent;
	.summary-details {
		@include flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0.9375rem;
		> strong {
			font-size: 1.125rem;
			text-transform: capitalize;
		}
	}
	#cart-summary-product-list {
		img {
			max-width: none; 
		}
	}
}
#checkout {
	#content {
		> .row {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			.cart-grid-right {
				&:after {
					content: "";
					display: block;
					width: 300%;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					background: #fafafa;
					z-index: -1;
					-webkit-box-shadow: 0 -1px 0 #e1e1e1 inset;
					box-shadow: 0 -1px 0 #e1e1e1 inset;
					background-position: left top;
					-webkit-box-shadow: 1px 0 0 #e1e1e1 inset;
					box-shadow: 1px 0 0 #e1e1e1 inset;
				}
			}
		}
	}
}
