/* stylelint-disable */
@import "~bourbon/app/assets/stylesheets/bourbon";
@import "partials/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/alert";
@import "components/drop-down";
@import "components/search-widget";
@import "components/mainmenu";
@import "components/checkout";
@import "components/customer";
@import "components/forgotten-password";
@import "components/renew-password";
@import "components/imageslider";
@import "components/featuredproducts";
@import "components/custom-text";
@import "components/categories";
@import "components/subcategories";
@import "components/products";
@import "components/cart";
@import "components/block-reassurance";
@import "components/quickview";
@import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/sitemap";
@import "components/newsletter";
@import "components/brands";
@import "components/header";
@import "components/wrapper";
@import "components/main";
@import "components/notifications";
@import "partials/vecthemes-icon";
/* stylelint-enable */
@media (min-width: 1200px) {
	.container {
		width: 1320px;
	}
}
.flex-layout {
	@include flex;
}
.space-between {
	justify-content: space-between;
}
.center-vertical {
	align-items: center;
}
.ps-shown-by-js .btn,
.btn.float-xs-right {  
	width: 100%;
	float: none !important; 
}
#js-checkout-summary {
	background: transparent;
	.summary-details {
		@include flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0.9375rem;
		> strong {
			font-size: .9375rem;
			text-transform: uppercase;
			font-weight: $headings-font-weight;
		}
		.js-show-details {
			text-transform: uppercase;
		}
	}
	#cart-summary-product-list {
		img {
			max-width: none; 
		}
	}
}
#cart,#checkout {
	.page-title-wrapper {
		margin-bottom: 0;
	}
	#content {
		
	}
}
.row { 
	.cart-grid-body ,.cart-grid-right {
		padding-top: 3.75rem; 
	}
	.cart-grid-right {
		&:after {
			content: "";
			display: block;
			width: 300%;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			background: #f6f6f6;
			z-index: -1;
			-webkit-box-shadow: 0 -1px 0 #e1e1e1 inset;
			box-shadow: 0 -1px 0 #e1e1e1 inset;
			background-position: left top;
			-webkit-box-shadow: 1px 0 0 #e1e1e1 inset;
			box-shadow: 1px 0 0 #e1e1e1 inset;
		}
		.cart-summary {
			background: transparent;
		}
	}
}
.customer-account-content {
	> h4 {
		font-size: 1.125rem;
		text-transform: uppercase;
		border-bottom: 1px solid $border-gray;
		padding-bottom: .625rem;
		margin-bottom: 1.875rem;
	}
	.container {
		padding: 0; 
	}
	.psgdprinfo17 {
		margin-top:  0;
		#exportDataToCsv,
		#exportDataToPdf {
			margin-top: .625rem;
		}
	}
	.return-to-home {
		margin-top: 1.875rem;
	}
}
#order-confirmation {
	.card {
		border: 1px solid #ddd;
	}
	.order-confirmation-table {
		border-top: 1px solid $border-gray;
		padding-top: .625rem;
	}
	
}
//compare wishlist
.box_button {
	> *:not(:last-child) {
		margin-right: 1.25rem;
	}
	.veccompare-add,
	.btn-canvas-wishlist {
		  border: none;
		background: transparent;
		color: rgba(12,12,12,0.6);
		padding: 0;
		font-size: .875rem;
		cursor: pointer;
		margin-bottom: 1rem;
		&:hover {
			color: var(--hovercolor);
		}
		i {
			font-size: 1rem;
			margin-right: .3125rem;
		}
	}
}
//productcoments
#new_comment_tab_btn {
	color: var(--buttoncolor);
	background: var(--buttonbackground);
	&:hover {
		background: var(--buttonhoverbackground);
        color: var(--buttonhovercolor);
	}
}
#id_new_comment_form {
	> h2 {
		color: $gray-dark;
		border-bottom: 1px solid $border-gray;
		padding-bottom: .625rem;
		margin-bottom: 1.25rem;
	}
	.content_comment_form {
		.product {
			@include flex;
			align-items: center;
			margin-bottom: 1.25rem;
			img {
				max-width: 100px;
				border: 1px solid $border-gray;
				margin-right: 1.25rem;
			}
			.product_name {
				margin: 0;
				font-weight: $headings-font-weight;
				color: $gray-dark;
			}
		}
		label {
			margin: .9375rem 0 0.5rem 0;
		}
		.required {
			font-size: .75rem;
			margin: 1.25rem 0;
		}
		.button_comment {
			text-align: center;
		}
	}
}
.reviews-header {
	padding-bottom: .9375rem;
	.rating_aggregate {
		@include flex;
		align-items: center;
		> * {
			&:not(:last-child) {
				margin-right: .9375rem;
			}
		}
	}
}
.reviews-content {
	.comment {
		border-top: 1px solid $border-gray;
		padding-top: 1.5625rem;
	}
}
.hook-reviews,
#product_comments_block_extra,
.reviews-header {
    .star_content {
        display: inline-block;
        position: relative;
        line-height: 1;
		text-align: left; 
        &::before {
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
            -webkit-font-smoothing: antialiased;
            color: #d0d0d0;
            font-family: $font-icon;
            font-size: 16px;
            letter-spacing: 1px;
            line-height: 1;
            content: '\e915''\e915''\e915''\e915''\e915';
            display: block;
            font-style: normal;
            font-weight: 400;
            speak: none;
        }
        .rating_star {
            display: inline-block;
            overflow: hidden;
            &:before {
                position: relative;
                z-index: 2;
                -webkit-font-smoothing: antialiased;
                color: #f9b223;
                font-family: $font-icon;
                font-size: 16px;
                letter-spacing: 1px;
                line-height: 1;
                content: '\e915''\e915''\e915''\e915''\e915';
                display: block;
                font-style: normal;
                font-weight: 400;
                speak: none;
            }
        }
    }
}
