/* stylelint-disable */
@import "~bourbon/app/assets/stylesheets/bourbon";
@import "partials/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/alert";
@import "components/drop-down";
@import "components/search-widget";
@import "components/mainmenu";
@import "components/checkout";
@import "components/customer";
@import "components/forgotten-password";
@import "components/renew-password";
@import "components/imageslider";
@import "components/featuredproducts";
@import "components/custom-text";
@import "components/categories";
@import "components/subcategories";
@import "components/products";
@import "components/cart";
@import "components/block-reassurance";
@import "components/quickview";
@import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/sitemap";
@import "components/newsletter";
@import "components/brands";
@import "components/header";
@import "components/wrapper";
@import "components/main";
@import "components/notifications";
@import "partials/vecthemes-icon";
/* stylelint-enable */
@media (min-width: 1200px) {
	.container {
		width: 1320px;
	}
}
.flex-layout {
	@include flex;
}
.space-between {
	justify-content: space-between;
}
.center-vertical {
	align-items: center;
}
.ps-shown-by-js .btn,
.btn.float-xs-right {  
	width: 100%;
	float: none !important; 
}
#js-checkout-summary {
	background: transparent;
	.summary-details {
		@include flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0.9375rem;
		> strong {
			font-size: .9375rem;
			text-transform: uppercase;
			font-weight: $headings-font-weight;
		}
		.js-show-details {
			text-transform: uppercase;
		}
	}
	#cart-summary-product-list {
		img {
			max-width: none; 
		}
	}
}
#cart,#checkout {
	.page-title-wrapper {
		margin-bottom: 0;
	}
	#content {
		
	}
}
.row { 
	.cart-grid-body ,.cart-grid-right {
		padding-top: 3.75rem; 
	}
	.cart-grid-right {
		&:after {
			content: "";
			display: block;
			width: 300%;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			background: #f6f6f6;
			z-index: -1;
			-webkit-box-shadow: 0 -1px 0 #e1e1e1 inset;
			box-shadow: 0 -1px 0 #e1e1e1 inset;
			background-position: left top;
			-webkit-box-shadow: 1px 0 0 #e1e1e1 inset;
			box-shadow: 1px 0 0 #e1e1e1 inset;
		}
		.cart-summary {
			background: transparent;
		}
	}
}
.customer-account-content {
	> h4 {
		font-size: 1.125rem;
		text-transform: uppercase;
		border-bottom: 1px solid $border-gray;
		padding-bottom: .625rem;
		margin-bottom: 1.875rem;
	}
	.container {
		padding: 0; 
	}
	.psgdprinfo17 {
		margin-top:  0;
		#exportDataToCsv,
		#exportDataToPdf {
			margin-top: .625rem;
		}
	}
	.return-to-home {
		margin-top: 1.875rem;
	}
}
#order-confirmation {
	.card {
		border: 1px solid #ddd;
	}
	.order-confirmation-table {
		border-top: 1px solid $border-gray;
		padding-top: .625rem;
	}
	
}
//compare wishlist
.box_button {
	> *:not(:last-child) {
		margin-right: 1.25rem;
	}
	.product-compare-button,
	.btn-wishlist {
		border: none;
		background: transparent;
		color: rgba(12,12,12,0.6) !important;
		padding: 0;
		font-size: .875rem;
		cursor: pointer;
		margin-bottom: 1rem;
		&:hover {
			color: var(--hovercolor) !important;
		}
		i {
			font-size: 1rem;
			margin-right: .3125rem;
			vertical-align: -2px;
		}
	}
}
.veccompare-product {
	button.ajax-add-to-cart-button,
	span.ajax-add-to-cart-button {
		margin-top: .9375rem;
		font-size: .875rem;
		text-transform: uppercase;
		width: 100%;
		background: var(--buttonbackground);
		color: var(--buttoncolor);
		border: none;
		font-weight: 500;
		padding: .5rem .625rem;  
		cursor: pointer;
		@include vec-transition(300ms);
		&:hover {
			background: var(--buttonhoverbackground);
			color: var(--buttonhovercolor);
		}
		&.disabled {
			opacity: 0.5;
		}
	}
}
//productcoments
#new_comment_tab_btn {
	color: var(--buttoncolor);
	background: var(--buttonbackground);
	&:hover {
		background: var(--buttonhoverbackground);
        color: var(--buttonhovercolor);
	}
}
#id_new_comment_form {
	> h2 {
		color: $gray-dark;
		border-bottom: 1px solid $border-gray;
		padding-bottom: .625rem;
		margin-bottom: 1.25rem;
	}
	.content_comment_form {
		.product {
			@include flex;
			align-items: center;
			margin-bottom: 1.25rem;
			img {
				max-width: 100px;
				border: 1px solid $border-gray;
				margin-right: 1.25rem;
			}
			.product_name {
				margin: 0;
				font-weight: $headings-font-weight;
				color: $gray-dark;
			}
		}
		label {
			margin: .9375rem 0 0.5rem 0;
		}
		.required {
			font-size: .75rem;
			margin: 1.25rem 0;
		}
		.button_comment {
			text-align: center;
		}
	}
}
.reviews-header {
	padding-bottom: .9375rem;
	.rating_aggregate {
		@include flex;
		align-items: center;
		> * {
			&:not(:last-child) {
				margin-right: .9375rem;
			}
		}
	}
}
.reviews-content {
	.comment {
		border-top: 1px solid $border-gray;
		padding-top: 1.5625rem;
	}
}
.hook-reviews,
#product_comments_block_extra,
.reviews-header {
    .star_content {
        display: inline-block;
        position: relative;
        line-height: 1;
		text-align: left; 
        &::before {
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
            -webkit-font-smoothing: antialiased;
            color: #d0d0d0;
            font-family: $font-icon;
            font-size: 16px;
            letter-spacing: 1px;
            line-height: 1;
            content: '\e915''\e915''\e915''\e915''\e915';
            display: block;
            font-style: normal;
            font-weight: 400;
            speak: none;
        }
        .rating_star {
            display: inline-block;
            overflow: hidden;
            &:before {
                position: relative;
                z-index: 2;
                -webkit-font-smoothing: antialiased;
                color: #f9b223;
                font-family: $font-icon;
                font-size: 16px;
                letter-spacing: 1px;
                line-height: 1;
                content: '\e915''\e915''\e915''\e915''\e915';
                display: block;
                font-style: normal;
                font-weight: 400;
                speak: none;
            }
        }
    }
}
//promo
.promo-widget {
	position: relative;
	padding: .625rem 1.875rem;
	@include flex;
	.promo-inner {
		width: 100%;
	}
	.promo-item {
	}
	.promo-close-btn {
		position: absolute;
		right: .625rem;
		top: 50%;
		@include vec-transform(translateY(-50%));
		font-size: 0;
		cursor: pointer;
		&:before {
			font-family: $font-icon;
			content: '\e93f';	
			font-size: 1.75rem;
		}
		&:hover {
			color: var(--hovercolor);
		}
	}
	.slick-arrow {
		position: absolute;
		top: 50%;
		@include vec-transform(translateY(-50%));
		width: 1.5625rem;
		height: 1.5625rem;
		border-radius: 50%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: 0;
		cursor: pointer;
		color: $black;
		background: $white;
		border: none;
		box-shadow: 0px 5px 13.5px 1.5px rgba(0, 0, 0, 0.07);
		@include vec-transition(300ms);
		z-index: 1;
		&:hover {
		  background: var(--buttonbackground);
		  color: var(--buttoncolor);
		}
		&:before {
		  font-family: $font-icon;
		  font-size: 9px;
		}
		&.slick-prev {
		  left: .625rem;
		  &:before{
			content: "\e92c";
		  }
		}
		&.slick-next {
		  right: .625rem;
		  &:before{
			content: "\e92d";
		  }
		}
	  }
}
//cart
.elementor-widget-shopping-cart {
    &.button-layout-icon {
        .blockcart {
            .cart-products-total {
                display: none;
            }
        }
    }
    &.button-layout-icon_text {
        .blockcart {
            .cart-products-total {
                padding-left: 0.625rem;
            }
        }
    }
	.blockcart {
		position: relative;
		> a {
			display: inline-flex;
		}
		.cart-products-count {
			position: absolute;
			left: .9375rem; 
			top: .75rem;
			background: var(--hovercolor);
			color: $white;
			border-radius: 50%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			line-height: 1;
			font-weight: 500;
			font-size: .75rem; 
		}
	}
}
.blockcart {
    position: relative;
	display: inline-flex;
    &:hover {
        .popup_cart {
            &.popup-dropdown {
                top: 100%;
                opacity: 1;
                visibility: visible;
                @include vec-transition(300ms);
            }
        }
    }
    .popup_cart {
        margin: 0;
        text-align: left;
        background: $white;
        @include vec-transition(300ms);
        &.popup-dropdown {
            top: calc(100% + 15px);
            left: auto;
            right: 0;
            position: absolute;
            z-index: 1001;
            opacity: 0;
            visibility: hidden;
            padding: 0.625rem;
            width: 21.875rem;
            @media (max-width: 767px) {
                width: 18.75rem;
            }
            box-shadow: 0px 0px 6.65px 2px rgba(0, 0, 0, 0.03);
            > * {
                padding: 0.625rem;
            }
            > ul {
                max-height: 25rem;
                margin: 0;
            }
        }
        &.popup-sidebar {
            position: fixed;
            right: 0;
            top: 0;
            bottom: 0;
            width: 28.75rem;
            max-width: 95%;
            padding: 0;
            z-index: 1001;
            opacity: 0;
            visibility: hidden;
            @include vec-transform(translateX(100%));
            &.sidebar-opened {
                opacity: 1;
                visibility: visible;
                @include vec-transition(250ms);
                @include vec-transform(translateX(0));
            }
            .content-sidebar {
                max-width: 100%;
                min-width: auto;
                padding: 0.625rem;
                @include flex;
                flex-direction: column;
                flex-wrap: nowrap;
                height: calc(100% - 5rem);
                > * {
                    padding: 0 1.25rem;
                }
                .empty-cart {
                    text-align: center;
                    padding-top: 1.25rem;
                    i {
                        font-size: 2.25rem;
                        margin-bottom: 0.625rem;
                        display: block;
                    }
                }
            }
            .title-cart {
                background: #f5f5f5;
                padding: 1.25rem 1.875rem;
                > span {
                    color: $gray-dark;
                    font-weight: $headings-font-weight;
                    font-size: 1.125rem;
                }
                .close-cart {
                    &:after {
                        content: '';
                        position: fixed;
                        top: 0;
                        right: 100%;
                        bottom: 0;
                        left: -9999rem;
                        background: rgba(0, 0, 0, 0.5);
                        z-index: 14;
                        cursor: ew-resize;
                    }
                }
                i {
                    font-size: 1.5rem;
                }
            }
        }
        ul {
            &::-webkit-scrollbar {
                -webkit-appearance: none;
                width: 8px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 8px;
                border: 2px solid white; /* should match background, can't be transparent */
                background-color: #cccccc;
            }
            &::-webkit-scrollbar-track {
                background-color: #fff;
                border-radius: 8px;
            }
            height: auto;
            overflow-y: auto;
            margin: 1.25rem 0 1.25rem 0;
            li {
                border-bottom: 1px solid $border-gray;
                padding-bottom: 1.25rem;
                margin-bottom: 1.25rem;
                overflow: hidden;
                &:last-child {
                    margin: 0;
                }
                .img_content {
                    float: left;
                    margin: 0 0.625rem 0 0;
                    position: relative;
                    width: 6.125rem;
                    .product-quantity {
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        width: 1.25rem;
                        height: 1.25rem;
                        -webkit-border-radius: 100%;
                        -moz-border-radius: 100%;
                        border-radius: 100%;
                        padding: 0;
                        text-align: center;
                        color: var(--buttoncolor);
                        background: var(--buttonbackground);
                        font-size: 0.75rem;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .right_block {
                    overflow: hidden;
                    position: relative;
                    padding: 0 1.25rem 0 0;

                    .product-name {
                        display: block;
                        font-size: 0.875rem;
                        color: $gray-dark;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .product-price {
                        display: block;
                        margin: 5px 0 0;
                        font-size: 1rem;
                        font-weight: 400;
                        color: $price-color;
                    }
                    .remove-from-cart {
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 1px;
                        color: #707070;
                        font-size: 1.125rem;
                        &:hover {
                            color: $gray-dark;
                        }
                    }
                    .attributes_content {
                        display: block;
                        font-size: 0.8125rem;
                        line-height: 1.25rem;
						color: $gray-dark;
                        margin: 5px 0 0;
                    }
                    strong {
                        font-weight: 400;
						color: #9b9b9b;
                    }
                }
            }
        }
        .price_content {
            margin-top: auto;
            .card-block {
                padding: 0;
            }
			.cart-summary-totals .cart-summary-line {
				.value {
					font-size: 1rem;
				}				
			}
            .cart-summary-line {
                overflow: hidden;
                line-height: 1.25rem;
                .label {
                    float: left;
                    text-transform: capitalize;
                    font-size: 0.875rem;
                }
                .value {
                    float: right;
                    font-weight: $headings-font-weight;
                    font-size: .875rem;
                }
				
                &.cart-total {
                    margin: 1.25rem 0 0 0;
                    padding-top: 1.25rem;
                    border-top: 1px solid $border-gray;
                    .label {
                        color: $gray-dark;
                    }
                    .value {
                        color: $price-color;
                        font-size: 1rem;
                        font-weight: $headings-font-weight;
                    }
                }
            }
        }
		.checkout {
            a {
                display: block;
            }
        }
    }
}
//wishlist
.btn-wishlist-top {
	display: inline-block;
	position: relative;
	.wishlist-count {
		&:before {
			content: '(';
		}
		&:after {
			content: ')';
		}
	}
}
.button-layout-icon {
    .btn-wishlist-top {
        .btn-wishlist-text {
            display: none;
        }
        .wishlist-count {
            position: absolute;
			left: .9375rem; 
			top: .75rem;
			background: var(--hovercolor);
			color: $white;
			border-radius: 50%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			line-height: 1;
			font-weight: 500;
			font-size: .75rem; 
            &:before,
            &:after {
                display: none;
            }
        }
    }
}
.button-layout-text {
    .btn-wishlist-top {
        i {
            display: none;
        }
    }
}
.button-layout-icon_text {
    .btn-wishlist-top {
        i {
            vertical-align: -1px;
        }
    }
}
//compare
.btn-compare-top {
	display: inline-block;
	position: relative;
	.compare-count {
		&:before {
			content: '(';
		}
		&:after {
			content: ')';
		}
	}
}
.button-layout-icon {
    .btn-compare-top {
        .btn-compare-text {
            display: none;
        }
       .compare-count {
			position: absolute;
			left: .9375rem; 
			top: .75rem;
			background: var(--hovercolor);
			color: $white;
			border-radius: 50%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			line-height: 1;
			font-weight: 500;
			font-size: .75rem; 
            &:before,
            &:after {
                display: none;
            }
        }
    }
}
.button-layout-text {
    .btn-compare-top {
        i {
            display: none;
        }
    }
}
.button-layout-icon_text {
    .btn-compare-top {
        i {
            vertical-align: -1px;
        }
    }
}